Import the frameworks

In [1]:
import pandas
import numpy

In [2]:
file1 = pandas.read_csv('Assignment1_2017.csv')

In [3]:
file1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,NaN,1st source link,2nd source link,3rd source,source name
1,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...,NaN,NaN,Show this item in the viz?,NaN,NaN,NaN,NaN,NaN
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN

Removing Unneccessary Columns

In [4]:
file1.drop(['Unnamed: 1','Unnamed: 2','Unnamed: 7','Unnamed: 8','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17'], axis= 1, inplace= True)

Convert the notations to years.

In [5]:
file1.loc[file1['Unnamed: 3'] == '0', 'Unnamed: 3'] = '2004'
file1.loc[file1['Unnamed: 3'] == '1', 'Unnamed: 3'] = '2005'
file1.loc[file1['Unnamed: 3'] == '2', 'Unnamed: 3'] = '2006'
file1.loc[file1['Unnamed: 3'] == '3', 'Unnamed: 3'] = '2007'
file1.loc[file1['Unnamed: 3'] == '4', 'Unnamed: 3'] = '2008'
file1.loc[file1['Unnamed: 3'] == '5', 'Unnamed: 3'] = '2009'
file1.loc[file1['Unnamed: 3'] == '6', 'Unnamed: 3'] = '2010'
file1.loc[file1['Unnamed: 3'] == '7', 'Unnamed: 3'] = '2011'
file1.loc[file1['Unnamed: 3'] == '8', 'Unnamed: 3'] = '2012'
file1.loc[file1['Unnamed: 3'] == '9', 'Unnamed: 3'] = '2013'
file1.loc[file1['Unnamed: 3'] == '10', 'Unnamed: 3'] = '2014'
file1.loc[file1['Unnamed: 3'] == '11', 'Unnamed: 3'] = '2015'
file1.loc[file1['Unnamed: 3'] == '12', 'Unnamed: 3'] = '2016'
file1.loc[file1['Unnamed: 3'] == '13', 'Unnamed: 3'] = '2017'
file1.loc[file1['Unnamed: 3'] == '14', 'Unnamed: 3'] = '2017'

Change names of columns

In [6]:
file1.rename(columns={'Unnamed: 1': 'Alternative Name'}, inplace=True)
file1.rename(columns={'Unnamed: 0': 'Entity','Unnamed: 2': 'Story', 'Unnamed: 3': 'Year','Unnamed: 4': 'Records Lost','Unnamed: 5': 'Organisation','Unnamed: 6': 'Method of Leak','Unnamed: 7': 'Intresting Story','Unnamed: 8': 'No of Records Stolen','Unnamed: 9': 'Data Sensitivity','Unnamed: 14': '1st source link','Unnamed: 15': '2nd source link','Unnamed: 16': '3rd source','Unnamed: 17': 'Source Name'}, inplace=True)

Drop unwanted rows!

In [7]:
file1.drop(file1.index[0], inplace= True)

In [8]:
file1.drop(file1.index[0], inplace= True)

change Data Sensitivity information.

In [9]:
file1.loc[file1['Data Sensitivity'] == '1', 'Data Sensitivity'] = 'E-mail Address or Online Information'
file1.loc[file1['Data Sensitivity'] == '20', 'Data Sensitivity'] = 'SSN/Personal Details'
file1.loc[file1['Data Sensitivity'] == '300', 'Data Sensitivity'] = 'Credit Card Information'
file1.loc[file1['Data Sensitivity'] == '4000', 'Data Sensitivity'] = 'E-mail Password or Health Records'
file1.loc[file1['Data Sensitivity'] == '50000', 'Data Sensitivity'] = 'Full Bank account Details'

There is one row with an unmentioned data sensitivity, '3', assuming its '300', changing its value.

In [10]:
file1.loc[file1['Data Sensitivity'] == '3', 'Data Sensitivity'] = 'Credit Card Information'

Search for any empty rows and remove them.

In [11]:
len(numpy.where(file1['Records Lost'].isnull())[0])

2

In [12]:
numpy.where(file1['Records Lost'].isnull())[0]

array([146, 162])

In [13]:
file1.iloc[146]
file1=file1.dropna()

Save data to a csv file

In [14]:
file1.to_csv('Assignment-2-CleanedData.csv')

I refute the claim that Data breaches are becoming less severe. There has been an increase in the Data breaches from 2016 to the present year 2017. The number of records that have been lost has also increased from the past year.
Data breach severe can mean three things -
It can based on the number of incidents in an year.
It can be based on number of records lost in an incident.
It can be based on the sensitivity of the information lost.
Version - 1 : https://public.tableau.com/profile/aashreya.agasthya.kundurthy#!/vizhome/Assignment-2_7/No_OfRecordsLost

It gives only a basic graph on how the data breaches might have increased based on the number of records that have been lost.

Disadvantage - It doesn’t give any insight on the number of incidents that occurred during the years.

Version - 2 : https://public.tableau.com/profile/aashreya.agasthya.kundurthy#!/vizhome/Assignment-2_7/NoofIncidentsandNoofRecordslostontherise
It gives a comparison between the number of records lost over the years and also forms a base on the number of incidents that have been identified over the years. This confirms the assumption that data breaches has increased from the past year.

Disadvantage - It doesn’t give an idea based on sensitivity of the information lost.

Version-3 : It gives a complete sense of information provided through the data set.
Graph - 1 : https://public.tableau.com/profile/aashreya.agasthya.kundurthy#!/vizhome/Assignment-2_7/NumberOfIncidentsbasedonSensitivity
It gives an overview of the number of incidents that have occurred and records lost over the years taking into account the Data Sensitivity of the information. From this, it is evident that credit card information is becoming more secure.

Graph - 2: https://public.tableau.com/profile/aashreya.agasthya.kundurthy#!/vizhome/Assignment-2_7/Commonmethodofleak-Hacking
Shows the method of leak of incidents over the years and gives an idea on the most prevailing method. 

Graph - 3: https://public.tableau.com/profile/aashreya.agasthya.kundurthy#!/vizhome/Assignment-2_7/IncidentsinTechvsNon-TechNon-techmoresecure
It compares the number of incidents between the Tech savvy and non-tech companies. It shows that the number of incidents in non-tech companies is going down.