Import the required frameworks

In [19]:
import pandas
import numpy as np

Import the datasets containing the actual data.

In [4]:
file1 = pandas.read_csv('Redesign-Dataset.csv')
file2 = pandas.read_csv('Redesign_Deaths.csv')

Display the exisitng data from the datasets - only 3 rows being displayed!

In [5]:
file1.head(3)

              Cause     Value  Diameter  Radius    Area
0     Breast Cancer  $257.85       2.00    1.00  3.1416
1  Prostrate Cancer  $147.00       1.51    0.76  1.7910
2     Heart Disease   $54.10       0.92    0.46  0.6591

In [6]:
file2.head(3)

                                   Cause    Value  Diameter  Radius    Area
0                          Heart Disease  596,577      2.50    1.25  4.9087
1  Chronic Obstructive Pulmonary Disease  142,942      1.22    0.61  1.1762
2                               Diabetes   73,831      0.88    0.44  0.6075

Drop unwanted columns from the datasets

In [7]:
file1.drop(['Diameter','Radius','Area'], axis= 1, inplace= True)

In [8]:
file2.drop(['Diameter','Radius','Area'], axis= 1, inplace= True)

After dropping the unwanted columns, the dataset looks like

In [9]:
file1.head(3)

              Cause     Value
0     Breast Cancer  $257.85
1  Prostrate Cancer  $147.00
2     Heart Disease   $54.10

In [17]:
file2.head(3)

                                   Cause    Value
0                          Heart Disease  596,577
1  Chronic Obstructive Pulmonary Disease  142,942
2                               Diabetes   73,831

Save the data into as CSV files

In [10]:
file1.to_csv('Deceptive-DataSet-Cleaned.csv')
file2.to_csv('Deceptive-Deaths-cleaned.csv')

In [14]:
df = pandas.DataFrame(data=file2)

In [17]:
df

                                   Cause    Value
0                          Heart Disease  596,577
1  Chronic Obstructive Pulmonary Disease  142,942
2                               Diabetes   73,831
3                          Breast Cancer   41,374
4                                Suicide   39,518
5                       Prostrate Cancer   21,176
6                               HIV/AIDS    7,683
7             Motor Neuron Disease (ALS)    6,849
8                                    NaN      NaN

Remove the null value

In [22]:
df = df[pandas.notnull(df['Cause'])]
df

                                   Cause    Value
0                          Heart Disease  596,577
1  Chronic Obstructive Pulmonary Disease  142,942
2                               Diabetes   73,831
3                          Breast Cancer   41,374
4                                Suicide   39,518
5                       Prostrate Cancer   21,176
6                               HIV/AIDS    7,683
7             Motor Neuron Disease (ALS)    6,849

In [23]:
sampleArray = ['$54,100,000','$7,000,000','$4,200,000','$257,850,000','$3,200,000','$147,000,000','$14,000,000','$22,900,000']
df['Donations'] = sampleArray

/Users/agasthya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

The cost of treatment, risk of contracting the diseases have been collected from various sources and integrated into the DataFrame

In [25]:
arrCostOfTreatment = ['$18,950','$11,000','$6,000','$182,000','$1,000','$120,000','$36,000','$12,000']
arrRisk = ['0.02','0.00046','0.11111','0.00147','0.00013','0.00100','0.00002','0.00100']
df['Cost to Counter'] = arrCostOfTreatment
df['Risk'] = arrRisk

/Users/agasthya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/agasthya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Cause,Value,Donations,Cost to Counter,Risk
0,Heart Disease,"596,577","$54,100,000","$18,950",0.02
1,Chronic Obstructive Pulmonary Disease,"142,942","$7,000,000","$11,000",0.00046
2,Diabetes,"73,831","$4,200,000","$6,000",0.11111
3,Breast Cancer,"41,374","$257,850,000","$182,000",0.00147
4,Suicide,"39,518","$3,200,000","$1,000",0.00013
5,Prostrate Cancer,"21,176","$147,000,000","$120,000",0.00100
6,HIV/AIDS,"7,683","$14,000,000","$36,000",0.00002
7,Motor Neuron Disease (ALS),"6,849","$22,900,000","$12,000",0.00100

In [26]:
df.rename(columns={'Value': 'Deaths'}, inplace=True)

/Users/agasthya/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [27]:
df

,Cause,Deaths,Donations,Cost to Counter,Risk
0,Heart Disease,"596,577","$54,100,000","$18,950",0.02
1,Chronic Obstructive Pulmonary Disease,"142,942","$7,000,000","$11,000",0.00046
2,Diabetes,"73,831","$4,200,000","$6,000",0.11111
3,Breast Cancer,"41,374","$257,850,000","$182,000",0.00147
4,Suicide,"39,518","$3,200,000","$1,000",0.00013
5,Prostrate Cancer,"21,176","$147,000,000","$120,000",0.00100
6,HIV/AIDS,"7,683","$14,000,000","$36,000",0.00002
7,Motor Neuron Disease (ALS),"6,849","$22,900,000","$12,000",0.00100

The dataframe is saved as a CSV file

In [28]:
df.to_csv('Metrics.csv')